<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ghép chữ</title>
  <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body>
  <!-- container -->
  <div id="container" class="container">
    <!-- main -->
    <div class="main">
      <!-- header -->
      <div class="header">
        <!-- logo -->
        <img src="images/logo.svg" class="logo" />
        <!-- /logo -->
        <div class="info">

          <!-- team A -->
          <ul class="team team-left">
            <li>
              <img src="https://images.viblo.asia/avatar/0dfed208-27ed-48ef-bd78-9aa367eca0dd.png" alt="">
              <span>10</span>
            </li>
            <li>
              <img src="https://images.viblo.asia/avatar/0dfed208-27ed-48ef-bd78-9aa367eca0dd.png" alt="">
              <span>10</span>
            </li>
            <li>
              <img src="https://images.viblo.asia/avatar/0dfed208-27ed-48ef-bd78-9aa367eca0dd.png" alt="">
              <span>10</span>
            </li>
          </ul>
          <!-- /team A -->

          <div class="score">
            <div>0</div>
            <div>0</div>
            <span class="time">60s</span>
            <div>0</div>
            <div>0</div>
          </div>


          <!-- team B -->
          <ul class="team team-right">
            <li>
              <img src="https://images.viblo.asia/avatar/0dfed208-27ed-48ef-bd78-9aa367eca0dd.png" alt="">
              <span>10</span>
            </li>
            <li>
              <img src="https://images.viblo.asia/avatar/0dfed208-27ed-48ef-bd78-9aa367eca0dd.png" alt="">
              <span>2</span>
            </li>
            <li>
              <img src="https://images.viblo.asia/avatar/0dfed208-27ed-48ef-bd78-9aa367eca0dd.png" alt="">
              <span>1</span>
            </li>
          </ul>
          <!-- /team B -->

        </div>

      </div>
      <!-- header -->

      <!-- content -->
      <div class="content">
        <h2 class="hint">Ghép các chữ cái Tiếng Việt sau thành từ có nghĩa:
        </h2>
        <h3 class="question">x/ố/ơ/n/g/n/s/g/ư
        </h3>
        <ul class="answer">
          <li>
            n
          </li>
          <li>
            g
          </li>
          <li>
            h
          </li>
          <li>
            i
          </li>
          <li>
            ê
          </li>
          <li>
            n
          </li>
          <li>
            g
          </li>
          <li>
            n
          </li>
          <li>
            g
          </li>
          <li>
            ã
          </li>
        </ul>
        <div class="mean">(Danh từ) Xương gồm nhiều đốt, nằm dọc lưng động vật có xương
          sống, làm trụ cột cho cơ thể động vật.</div>
      </div>
      <!-- /content -->

      <!-- footer -->
      <ul class="option">
        <li>
          n</li>
        <li>
          n</li>
        <li>
          n</li>
        <li>
          n</li>
        <li>
          g</li>
        <li>
          u</li>
        <li>
          y</li>
        <li>
          ễ</li>
        <li>
          n</li>
        <li class="delete">
          ↩
        </li>
      </ul>
      <!-- /footer -->

    </div>
  </div>
  <!-- /container -->
</body>

</html>