@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* @tailwind base; */

/* @tailwind components; */

/* @tailwind utilities; */

body{
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-from: #818cf8;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(129, 140, 248, 0));
  --tw-gradient-to: #3730a3;
  font-family: 'Nunito', sans-serif;
}

.answer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.25rem;
  padding-top: 0.75rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  line-height: 1.5;
}

.answer>li{
  display: inline-block;
  height: 4rem;
  width: 2.5rem;
  border-radius: 0.75rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(180, 83, 9, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(253, 230, 138, var(--tw-bg-opacity));
  text-align: center;
  vertical-align: bottom;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(91, 33, 182, var(--tw-text-opacity));
}

#container{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.content{
  height: 50%;
}

.delete{
  display: inline-block;
  height: 3rem;
  width: 3.5rem;
  border-radius: 0.75rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(180, 83, 9, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(253, 230, 138, var(--tw-bg-opacity));
}

.header{
  height: 33.333333%;
}

.hint{
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(251, 191, 36, var(--tw-text-opacity));
}

@media (min-width: 1024px){
  .hint{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 1024px){
  .info{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.logo{
  margin-left: auto;
  margin-right: auto;
  max-width: 24rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 1024px){
  .logo{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

.main{
  display: flex;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.mean{
  padding-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(243, 244, 246, var(--tw-text-opacity));
}

@media (min-width: 1024px){
  .mean{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.option{
  height: auto;
  padding-bottom: 1.25rem;
  text-align: center;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
  --tw-text-opacity: 1;
  color: rgba(91, 33, 182, var(--tw-text-opacity));
}

@media (min-width: 1024px){
  .option{
    padding-bottom: 0.5rem;
  }
}

.option>li{
  display: inline-block;
  height: 3rem;
  width: 2.5rem;
  border-radius: 0.75rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(180, 83, 9, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(253, 230, 138, var(--tw-bg-opacity));
}

.question{
  padding-top: 0.75rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
  --tw-text-opacity: 1;
  color: rgba(255, 251, 235, var(--tw-text-opacity));
}

@media (min-width: 1024px){
  .question{
    font-size: 3rem;
    line-height: 1;
  }
}

.score{
  order: -9999;
  width: 100%;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

@media (min-width: 1024px){
  .score{
    order: 0;
    width: 33.333333%;
  }
}

.score>div{
  display: inline-block;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-skew-y: -3deg;
  border-radius: 0.125rem;
  --tw-bg-opacity: 1;
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
  padding: 0.25rem;
}

.team{
  width: 50%;
}

@media (min-width: 1024px){
  .team{
    width: 33.333333%;
  }
}

.team>li{
  position: relative;
  display: inline-block;
  width: 2.5rem;
}

@media (min-width: 1024px){
  .team>li{
    width: 3.5rem;
  }
}

.team-left{
  text-align: left;
}

@media (min-width: 1024px){
  .team-left{
    text-align: right;
  }
}

.team-right{
  text-align: right;
}

@media (min-width: 1024px){
  .team-right{
    text-align: left;
  }
}

.team>li>img{
  position: absolute;
  left: 0px;
  width: 2rem;
  border-radius: 9999px;
}

@media (min-width: 1024px){
  .team>li>img{
    width: 2.5rem;
  }
}

.team>li>span{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgba(185, 28, 28, var(--tw-bg-opacity));
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.time{
  border-radius: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(220, 38, 38, var(--tw-bg-opacity));
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}